<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" [type]="spinnerType" [name]="spinnerName" [fullScreen] = "true"><p style="color: white" > Please Wait... </p></ngx-spinner>
<div class="row">
    <div class="col-12">
        <nz-card 
            [nzBordered]="true" 
            nzTitle="All Companies"
        >
            <ag-grid-angular
                class="ag-theme-alpine"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [floatingFiltersHeight]="headerHeight"
                [frameworkComponents]="gridFrameworkComponents"
                [gridOptions]="gridOptions"
                [headerHeight]="headerHeight"
                [rowData]="rowData"
                (gridReady)="onGridReady($event)"
                (gridSizeChanged)="gridSizeChanged($event)"
            >
            </ag-grid-angular>
        </nz-card>
    </div>
</div>